srt
torch==2.5.0
torchvision==0.20.0 
torchaudio==2.5.0 
pytorch-cuda==12.4
faster-whisper==1.1.0
transformers
pandas
nltk
pyannote.audio>=3.1
ffmpeg-python
translators
huggingface_hub >= 0.13.0
ctranslate2==4.5.0